<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="qz-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao">
                <p>干啥啥不行</p>
                <p>吃饭第一名</p>
                <p class="qz-name">--- wz</p>
                <p class="last">Welcome to my blog</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao qz-xinxi">
                <p>温柔之必要</p>
                <p>肯定之必要</p>
                <p>一点点酒和木犀花之必要</p>
                <p>你大可平和用功</p>
                <p>水到渠成</p>
                <p>日子即便渺小</p>
                <p>也都祝你幸福快乐</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>